:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --aqua: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --border-radius: 10px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

h2 {
    text-align: center;
    color: var(--light-slate);
    font-family: var(--font-sans);
}

#mainNav {
    background-color: var(navy);
    color: var(--aqua) transition: all .35s;
    font-family: var(--font-sans);
    font-weight: 200;
    letter-spacing: 1px;
}

.nav {
    background-color: var(--navy);
    color: var(--aqua);
    font-family: var(--font-sans);
}

.nav-item, .nav-link, .dropdown {
    color: var(--aqua);
}

.nav-item:hover, .nav-link:hover, .dropdown:hover{
    color: var(--blue);
}


body {
    background-color: var(--navy);
    font-family: var(--font-sans);
}

.nav-link {
    align-items: right;
}

.headshot img {
    max-width: 10rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.jumboStyle {
    background-color: var(--navy);
    color: var(--aqua);
}

.lead {
    color: var(--white);
    text-align: center;
    margin-left: 12rem;
}

.lead2 {
    color: var(--dark-slate);
    text-align: center;
    margin-left: 12rem;
}

.my-4 {
    color: var(--slate);
    text-align: center;
}

.btn {
    color: var(--white);
    border-radius: 0px;
    border: none;
}

.btn-primary, .btn-lg {
    background-color: var(--dark-navy);
}

.btn-primary:hover {
    background-color: var(--slate);
    color: var(--aqua);
    box-shadow: none;
}

.display-4 {
    text-align: center;
}


#Portfolio {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cardContainer {
    text-align: center;
    background-color: var(--navy);
    color: var(--dark-slate);
    border-radius: var(--border-radius);
    border-bottom: 0.25rem var(--light-slate);
    margin-right: 0px;
    margin-left: 0px;
    font-family: var(--font-mono);
}

.card-title {
    text-align: center;
    color: var(--white)
}

.card-text {
    text-align: center;
    color: var(--slate)
}

.card-link {
    text-align: center;
    align-items: flex-end;
    color: var(--aqua);
}

.card-link:hover {
    color: var(--blue)
}

